@model TravelMS.Models.AgentModel

@{
    ViewBag.Title = "Add New Agent";
    if (!String.IsNullOrEmpty(ViewBag.message))
    {
        <script>
            alert(@ViewBag.message);
        </script>
    }
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add New Agent</legend>
        <div class="editor-label">
            @Html.LabelFor(m => m.Agent_ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Agent_ID)
            @Html.ValidationMessageFor(m => m.Agent_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Agent_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Agent_Name)
            @Html.ValidationMessageFor(m => m.Agent_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Address)
            @Html.ValidationMessageFor(m => m.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Phone_Num)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Phone_Num)
            @Html.ValidationMessageFor(m => m.Phone_Num)
        </div>

        <input type="hidden" name="Creator_Admin_ID" value="@User.Identity.Name" />
        <p>
            <input type="submit" value="Add Agent" id="addAgentButton" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to Dash", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}