@{
    ViewBag.Title = "Admin Panel";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@*@ViewBag.User_ID*@</h2>
</hgroup>

@{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <p>Employee Details</p>
    @Html.ActionLink("View Locked Accounts", "lockedAccounts", "AdminPanel");
    <br />
    @Html.ActionLink("Reset Password", "reset", "AdminPanel");
    <br />
    @Html.ActionLink("Settle Claims", "settle", "AdminPanel");
    <br />
    @Html.ActionLink("View Closed Requests", "closedRequests", "AdminPanel");
    <p>Agent Details</p>
    @Html.ActionLink("Add New Agents", "addAgent", "AdminPanel");
    <br />
    @Html.ActionLink("Block/Unblock Agent", "manageAgent", "AdminPanel");
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
