@{
    ViewBag.Title = "Employee Dashboard";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@{
    <ol class="round">
        <li class="one">
            <h5>Travel Request</h5>
            @Html.ActionLink("New Travel Request", "NewTravelRequest", "Employee")
            <br />
            @Html.ActionLink("View Travel Request", "ViewTravelRequests", "Employee")
            <br />
            @Html.ActionLink("Change Request", "ChangeRequest", "Employee")
            <br />
            @Html.ActionLink("Cancel Request", "CancelRequest", "Employee")
        </li>
        <li class="two">
            <h5>Claim Request</h5>
            @Html.ActionLink("New Claim Request", "NewClaimRequest", "Employee")
            <br />
            @Html.ActionLink("View Claim Request", "ViewClaimRequest", "Employee")
        </li>
        <li class="three">
            <h5>Approve/Reject Requests</h5>
            @Html.ActionLink("Approve/Reject Requests", "ViewApproveRejRequests", "Employee")
        </li>
    </ol>
}
