@model IEnumerable<TravelMS.Models.ClaimRequestsModel>

@{
    ViewBag.Title = "ViewClaimRequests";
}

<h2>View Claim Requests</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Travel_Request_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Claim_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Claim_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Settled_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Claim_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Travel_Request_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Claim_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Claim_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Settled_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Claim_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Back to Dash", "Index")
</div>
